{% extends 'reset.html' %}

{% from 'auth/_form_macros.html' import form_field %}

{% block body %}
    <h1>Sign in</h1>
   <p>Select a service to sign in with:</p>
    <p>
        <a href="{{ facebook_login_url }}" title="Sign in with Facebook"><img src="/static/{{ app_version }}/images/facebook.png" width="60" height="60" alt="Sign in with Facebook"></a>
        <a href="{{ google_login_url }}" title="Sign in with Google"><img src="/static/{{ app_version }}/images/google.png" width="60" height="60" alt="Sign in with Google"></a>
        <a href="{{ twitter_login_url }}" title="Sign in with Twitter"><img src="/static/{{ app_version }}/images/twitter.png" width="60" height="60" alt="Sign in with Twitter"></a>
 	
	<a href="{{ meetup_login_url }}" title="Sign in with Meetup">Meetup</a>


        {#<a href="{{ yahoo_login_url }}" title="Sign in with Yahoo!"><img src="/static/{{ app_version }}/images/yahoo.png" width="60" height="60" alt="Sign in with Yahoo!"></a>#}
    </p>
{% endblock %}

