{% extends "layout.html" %}
{% from '_form_macros.html' import form_field %}

{% block headextra %}


<script src="/static/{{ app_version }}/js/date.js"></script>
<script src="http://code.google.com/apis/gears/gears_init.js"> </script>
<script src="/static/{{ app_version }}/js/locate.js"></script>

{% endblock %}



{% block content %}


<section>
	
	<form method="post" action="" enctype="multipart/form-data" id="add-event-form">
	<fieldset >
	            <ol>
	                <li>{{ form_field(form.name, class='medium', placeholder='My Cool Event') }}</li>
	                <li>{{ form_field(form.link, class='large', placeholder='http://whatever') }}</li>
					<li id="datetime">{{ form_field(form.start_day, class='medium') }}
						<div id="timeentry">
						<input type="radio" name="allday" value="no" checked/>
						<select><option>6</option>
						</select> : 
						<select>
						<option>00</option>
						</select> <select>
						<option>PM</option>
						</select>
						
						<br/>
						<input type="radio" name="allday" value="yes" /> &nbsp;All Day
						</div>
					
					</li>
					<li>{{ form_field(form.end_day, class='medium') }}</li>
	                <li>{{ form_field(form.time, class='medium') }}</li>
	                

					
	            </ol>
	            
	 </fieldset>
	 <fieldset>
	 	            <ol>
	 	            <li>{{ form_field(form.location, class='medium') }}</li>
					<li>{{ form_field(form.description, class='large', rows=5) }}</li>
	                
	                </ol>
	 </fieldset>
	 
	 <fieldset class="submit" id="actions">
	 <input type="submit" name="submit" value="Share!" class="submit">
	 </fieldset>
	 </form>
	
</section>

{% endblock %}