{% extends "layout.html" %}
{% from 'form_macros.html' import form_field %}

{% block formcss %}

<style type="text/css">



</style>

{% endblock %}

{% block headextra %}
<script>
$(function(){
	$( ".date" ).datepicker({ dateFormat: 'yy-mm-dd' });

})

</script>


{% endblock %}


{% block body %}
<h1>{{calendar.title }} </h1>

<h2> add an event</h2>

<form method="POST" enctype="multipart/form-data" id="addevent" class="form">
<fieldset class="splitform-left">
<div class="field">{{ form_field(form.title, class="form-txt")}}</div>

<div class="field">{{ form_field(form.link, class="form-txt", placeholder="http://") }}</div>
</fieldset>
<fieldset>
 <div class="field">
 {{ form_field(form.start_date, class="form-txt date") }}
{{ form.start_time.hour(class="form-small")}}
 {{ form.start_time.minute}}
 {{ form.start_time.ampm}}</div>
 <div id="adddates">
 <a href="#"><span class="textgraphics">+</span> add a day</a>
 </div>
</fieldset>

<div class="controls">
add a <a href="">location</a>, <a href="#">ticket information</a>, or just <a href="#" class="default">submit this event</a> 
</div>
</form>


{% endblock %}